<%= form_for(@partida) do |f| %>
	<div>
		Tipo de prueba <%= f.select :tipo_prueba, ['Crawl','Pecho', 'Mariposa', 'Espalda', 'Combinados']%>	
	</div>
	<div class="field">
		Carril 1 <%= f.collection_select :nadador_id_1, @nadadores, :id,:nombre_completo %>	
	</div>
<% end %>

