<h1>Acerca de...</h1>
<p>Esta es una aplicación creada por Emmanuel Héctor Berti Ponsone y Carlos Rodrigo Reyes como parte del proyecto final de la carrera Ingenieria Electrónica en la UTN-FRBA. </p> Versión: 1.0 <br>

