<h1>ENTRENAMIENTOS</h1>
<ul>
	<li>	<%= link_to "Agregar entrenamiento", agregar_entrenamiento_path %> <br>	</li>
	<li>	<%= link_to "Ver entrenamientos pasados", '#' %>
				(en la proxima pagina selecciona nadador y puede filtrar por tipo de prueba)<br >	</li>
</ul>

