<h1>ENTRENAMIENTOS</h1>
<ul>
	<li>	<%= link_to "Nuevo entrenamiento", new_entrenamiento_path %> <br>	</li>
	<li>	<%= link_to "Ver entrenamientos pasados", seleccionar_nadador_path %> <br >	</li>
</ul>

