<h1>HOME (este titulo se debe borrar) </h1> 
<p><strong>
	Debe haber 3 botones muy anchos: </strong> <br>
		-Entrenamientos <br>
		-Competencias<br>
		-Nadadores<br>
		que redirijan al home de cada categoria </p>
