<h1> Chronos </h1> 
Sistema de adquisicion de tiempos en natatorios.
<br> <br> <br>
<p><strong>
	Debe haber 3 botones muy anchos: </strong> <br>
		-Entrenamientos <br>
		-Competencias<br>
		-Nadadores<br>
		que redirijan al home de cada categoria </p>
