<h1>NADADORES</H1>
	<ul>
		<li> <%= link_to "Agregar nadador", new_nadador_path %></li>
		<li> <%= link_to "Ver/Modificar nadadores", nadadors_path %></li>
	</ul>
<br><br>
Agregar links para ver entrenamientos de una nadador en la pagina SHOW de cada nadador o en el INDEX de nadadores.