<h1>NADADORES</H1>
	<ul>
		<li> <%= link_to "Agregar nadador", new_nadador_path %></li>
		<li> <%= link_to "Ver nadadores", nadadors_path %></li>
		<li> <%= link_to "Editar nadador", '#' %></li>
		<li> <%= link_to "Eliminar nadadores", '#' %></li>
	</ul>